<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stocks</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>

<form method="GET">
    {{ filter.form }}
    <button type="submit">Submit</button>
</form>
<div class="d-flex p-2">
<table class="table table-bordered">
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Code</th>
        <th scope="col">Price</th>
        <th scope="col">Date</th>
    </tr>
    {% for i in filter.qs %}
        <tr>
        <td>{{ i.name }}</td>
        <td>{{ i.code }}</td>
        <td>{{ i.price }}</td>
        <td>{{ i.date|date:'Y-m-d H:i' }}</td>
    {% empty %}
        <td>No data avilable</td>
    {% endfor %}
    </tr>
</table>
</div>
</body>
</html>